.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
# http://stackoverflow.com/questions/2538149/what-should-be-contained-in-a-global-source-code-control-ignore-pattern-for-visu
# for VisualStudio
*.o
*.lo
*.la
*.al
*.libs
*.so
*.so
*.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
.*.swp
.DS_Store
*.ilk
*.aps
*.suo
*.ncb
*.user
*.opt
*.plg
*/Debug/* 
*/Release/*
*/debug/*
*/release/*
*.*~
*.tlb
*_i.c
*_p.c
_*.idl
_*.h
*.obj
*.vspscc
dlldata.c
*.pch
*.idb
*.pdb
*.manifest
*.res
*.exe
*.dll
mt.dep
BuildLog.htm
*_i.h
*.idc
*.swp
*.trx
*/TestResults
*.vcxproj.filters
*.vcxproj.filters
*.sdf
*.sdf*
*.opensdf
ipch/
# tweet_log 以下には 保存した過去のつぶやきが含まれる、別に管理しなくても良い
tweet_log/